body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    margin: 0;
}

header {
    display: flex;
    color:aliceblue;
    text-align: center;
    min-height: 70px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;   
}

#parte2{
    border: solid 4px blue;
    border-radius: 10px;
    margin: 2em;
    width:90%;
    
}

#parte1{
    border: solid 1px gray;
    border-radius: 2px;
    width: 90%;
}

#nombre, #monto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#final{
    background-color: blue;
    color:aliceblue;
    text-align: center;
    position:fixed;
    justify-content: end;
    bottom: 0;
    width: 100%;
}

#datos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#total{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}